body {
  background: var(--neutrals-n-10, #f7f7f9);
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 199px;
  height: 48px;
  background-color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 76px;
  height: 20px;
  padding: 10px 12px;
  cursor: pointer;
}

.h-about {
  display: none;
}

.menu-icon {
  padding: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  padding: 114px 24px;
  background-image: url("./assets/images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0 0 0 80px;
}

.portfolio-snapshot {
  width: 100%;
}

.intro {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.description {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.connect-logo {
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  align-self: flex-start;
  cursor: pointer;
}

.social-media-icons {
  align-self: flex-start;
}

.social-media-icons img {
  width: 170.167px;
  height: 20px;
  cursor: pointer;
}

.work-section {
  display: grid;
  grid-template-columns: auto;
  gap: 88px;
  padding: 114px 16px;
}

.work-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 9px;
  border: 0.01px solid lightgray;
  background-color: white;
  padding: 16px;
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 9px;
  background-color: white;
}

.project-title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
}

.main-head {
  color: var(--neutrals-n-600, #344563);
  font-weight: 600;
}

.project-intro {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: var(--neutrals-n-100, #7a869a);
}

.project-description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--neutrals-n-600, #344563);
}

.project-skills ul {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.project-skills ul li {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  cursor: pointer;
}

.project-button {
  padding: 12px 0;
}

.see-project {
  color: var(--primary-b-500, #396df2);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.51px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background-color: white;
  padding: 8px;
  cursor: pointer;
}

.about-myself {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 114px 24px;
  background-color: white;
  border-radius: 0 60px 0 0;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-heading {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin: 0;
}

.about-description {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-connect p {
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.about-social-icons {
  display: flex;
  align-items: stretch;
}

.about-social-icons img {
  padding: 8px;
  cursor: pointer;
}

.resume-button {
  color: var(--primary-b-500, #396df2);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.51px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background-color: white;
  cursor: pointer;
}

.portfolio {
  list-style: none;
  padding: 0 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 21px 26px 21px 12px;
  border-bottom: 0.1px solid rgb(192, 191, 191);
}

.drop-down-items {
  align-items: center;
  display: flex;
  gap: 12px;
  color: var(--neutrals-n-700, #253858);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 12px 0;
  border-radius: 8px;
  padding: 12px 12px;
  background: var(--neutrals-n-10, #f7f7f9);
  cursor: pointer;
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-b-400, #6070ff);
  background-repeat: no-repeat;
  gap: 12px;
  padding: 100px 24px 24px 24px;
  background-image: url("./assets/svg/contact\ form\ shapes-mobile.svg");
  background-position: right;
  border-radius: 60px 0 0 0;
}

.contact {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact-description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 35px;
}

.email,
.feedback,
.name {
  padding: 12px 12px;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

.email::placeholder,
.name::placeholder {
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.feedback::placeholder {
  color: var(--neutrals-n-60, #b3bac5);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.get-in-touch {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  padding: 12px 16px;
  align-items: center;
  background-color: white;
  align-self: flex-start;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  cursor: pointer;
}

.email:focus,
.name:focus,
.feedback:focus {
  outline: none;
}

.work-section-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .work-section-desktop {
    display: grid;
  }

  .work-section-mobile {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 10px 9.9%;
  }

  .h-about {
    display: block;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .h-item {
    padding: 10px 12px;
    cursor: pointer;
  }

  .logo-icon {
    display: none;
  }

  .item-list {
    list-style: none;
    display: flex;
    gap: 3px;
  }

  .main {
    padding: 221px 19% 289px 19%;
    background-image: url("./assets/desktop/Header\ bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .intro {
    font-size: 48px;
  }

  .description {
    font-size: 20px;
  }

  .connect-logo {
    font-size: 16px;
  }

  .work-section {
    padding: 9.8%;
  }

  .work-card {
    flex-direction: row;
    padding: 24px;
  }

  .reverse-card {
    flex-direction: row-reverse;
  }

  .card-data {
    padding: 24px;
    width: 50%;
    gap: 24px;
  }

  .project-title {
    font-size: 40px;
    margin-bottom: -12px;
  }

  .project-intro {
    font-size: 18px;
    display: flex;
    gap: 12px;
  }

  .project-description {
    font-size: 16px;
  }

  .about-myself {
    flex-direction: row;
    padding: 11.5% 10%;
  }

  .about-me {
    width: 50%;
  }

  .drop-down {
    width: 50%;
  }

  .drop-down-items {
    display: inline-block;
    height: 91px;
    width: 79px;
  }

  .skills {
    display: flex;
    flex-direction: row;
  }

  .contact-section {
    background-image: url("./assets/desktop/contact\ form\ background\ shapes@2x.png");
    padding: 142px 22.3% 127px 22.3%;
    border-radius: 100px 0 0 0;
    background-size: contain;
  }

  .contact-description {
    align-self: center;
    padding: 0 16%;
  }

  .name,
  .email {
    border-radius: 2px;
    width: 435px;
    height: 36px;
    align-self: center;
  }

  .feedback {
    width: 435px;
    align-self: center;
    border-radius: 2px;
  }

  .get-in-touch {
    align-self: center;
  }

  .portfolio-snapshot {
    flex: 1;
    width: 50%;
    object-fit: contain;
  }
}
